In [1]:
import pandas as pd
import numpy as np
import gc

In [13]:
train = pd.read_pickle('./input/train_1.pkl')

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37752750 entries, 0 to 37752749
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   shop_id               int8
 1   item_id               int16
 2   date_block_num        int8
 3   month                 int8
 4   item_cnt_month        float64
 5   median_monthly_price  float64
 6   item_cat              int8
dtypes: float64(2), int16(1), int8(4)
memory usage: 792.1 MB

## Add lagging values for item_cnt and median_monthly price for months -1, -2 & -3 for each row

In [16]:
for i in range(3):
    train[f'item_cnt_minus_{i+1}'] = train.groupby(['shop_id', 'item_id']).item_cnt_month.shift(i+1)

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37752750 entries, 0 to 37752749
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   shop_id               int8
 1   item_id               int16
 2   date_block_num        int8
 3   month                 int8
 4   item_cnt_month        float64
 5   median_monthly_price  float64
 6   item_cat              int8
 7   item_cnt_minus_1      float64
 8   item_cnt_minus_2      float64
 9   item_cnt_minus_3      float64
dtypes: float64(5), int16(1), int8(4)
memory usage: 1.6 GB

In [18]:
train.loc[(train.shop_id.isin([57]))&(train.item_id==30)]

,shop_id,item_id,date_block_num,month,item_cnt_month,median_monthly_price,item_cat,item_cnt_minus_1,item_cnt_minus_2,item_cnt_minus_3
35488635,57,30,0,1,0.0,0.0,40,NaN,NaN,NaN
35488636,57,30,1,2,31.0,265.0,40,0.0,NaN,NaN
35488637,57,30,2,3,24.0,399.0,40,31.0,0.0,NaN
35488638,57,30,3,4,3.0,399.0,40,24.0,31.0,0.0
35488639,57,30,4,5,1.0,399.0,40,3.0,24.0,31.0
35488640,57,30,5,6,0.0,0.0,40,1.0,3.0,24.0
35488641,57,30,6,7,1.0,399.0,40,0.0,1.0,3.0
35488642,57,30,7,8,1.0,399.0,40,1.0,0.0,1.0
35488643,57,30,8,9,1.0,399.0,40,1.0,1.0,0.0
35488644,57,30,9,10,1.0,169.0,40,1.0,1.0,1.0
35488645,57,30,10,11,1.0,169.0,40,1.0,1.0,1.0
35488646,57,30,11,12,3.0,169.0,40,1.0,1.0,1.0
35488647,57,30,12,1,1.0,169.0,40,3.0,1.0,1.0
35488648,57,30,13,2,2.0,169.0,40,1.0,3.0,1.0
35488649,57,30,14,3,1.0,169.0,40,2.0,1.0,3.0
35488650,57,30,15,4,0.0,0.0,40,1.0,2.0,1.0
35488651,57,30,16,5,0.0,0.0,40,0.0,1.0,2.0
35488652,57,30,17,6,0.0,0.0,40,0.0,0.0,1.0
35488653,57,30,18,7,1.0,169.0,40,0.0,0.0,0.0
35488654,57,30,19,8,1.0,169.0,40,1.0,0.0,0.0
35488655,57,30,20,9,0.0,0.0,40,1.0,1.0,0.0
35488656,57,30,21,10,1.0,169.0,40,0.0,1.0,1.0
35488657,57,30,22,11,1.0,169.0,40,1.0,0.0,1.0
35488658,57,30,23,12,0.0,0.0,40,1.0,1.0,0.0
35488659,57,30,24,1,2.0,169.0,40,0.0,1.0,1.0
35488660,57,30,25,2,1.0,169.0,40,2.0,0.0,1.0
35488661,57,30,26,3,0.0,0.0,40,1.0,2.0,0.0
35488662,57,30,27,4,1.0,169.0,40,0.0,1.0,2.0
35488663,57,30,28,5,0.0,0.0,40,1.0,0.0,1.0
35488664,57,30,29,6,1.0,129.0,40,0.0,1.0,0.0
35488665,57,30,30,7,0.0,0.0,40,1.0,0.0,1.0
35488666,57,30,31,8,1.0,129.0,40,0.0,1.0,0.0
35488667,57,30,32,9,0.0,0.0,40,1.0,0.0,1.0
35488668,57,30,33,10,0.0,0.0,40,0.0,1.0,0.0
35488669,57,30,34,11,0.0,0.0,40,0.0,0.0,1.0

In [19]:
for i in range(3):
    train[f'mnth_med_price_minus_{i+1}'] = train.groupby(['shop_id', 'item_id']).median_monthly_price.shift(i+1)

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37752750 entries, 0 to 37752749
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   shop_id                 int8
 1   item_id                 int16
 2   date_block_num          int8
 3   month                   int8
 4   item_cnt_month          float64
 5   median_monthly_price    float64
 6   item_cat                int8
 7   item_cnt_minus_1        float64
 8   item_cnt_minus_2        float64
 9   item_cnt_minus_3        float64
 10  mnth_med_price_minus_1  float64
 11  mnth_med_price_minus_2  float64
 12  mnth_med_price_minus_3  float64
dtypes: float64(8), int16(1), int8(4)
memory usage: 2.5 GB

In [21]:
train.loc[(train.shop_id.isin([57]))&(train.item_id==30)]

,shop_id,item_id,date_block_num,month,item_cnt_month,median_monthly_price,item_cat,item_cnt_minus_1,item_cnt_minus_2,item_cnt_minus_3,mnth_med_price_minus_1,mnth_med_price_minus_2,mnth_med_price_minus_3
35488635,57,30,0,1,0.0,0.0,40,NaN,NaN,NaN,NaN,NaN,NaN
35488636,57,30,1,2,31.0,265.0,40,0.0,NaN,NaN,0.0,NaN,NaN
35488637,57,30,2,3,24.0,399.0,40,31.0,0.0,NaN,265.0,0.0,NaN
35488638,57,30,3,4,3.0,399.0,40,24.0,31.0,0.0,399.0,265.0,0.0
35488639,57,30,4,5,1.0,399.0,40,3.0,24.0,31.0,399.0,399.0,265.0
35488640,57,30,5,6,0.0,0.0,40,1.0,3.0,24.0,399.0,399.0,399.0
35488641,57,30,6,7,1.0,399.0,40,0.0,1.0,3.0,0.0,399.0,399.0
35488642,57,30,7,8,1.0,399.0,40,1.0,0.0,1.0,399.0,0.0,399.0
35488643,57,30,8,9,1.0,399.0,40,1.0,1.0,0.0,399.0,399.0,0.0
35488644,57,30,9,10,1.0,169.0,40,1.0,1.0,1.0,399.0,399.0,399.0
35488645,57,30,10,11,1.0,169.0,40,1.0,1.0,1.0,169.0,399.0,399.0
35488646,57,30,11,12,3.0,169.0,40,1.0,1.0,1.0,169.0,169.0,399.0
35488647,57,30,12,1,1.0,169.0,40,3.0,1.0,1.0,169.0,169.0,169.0
35488648,57,30,13,2,2.0,169.0,40,1.0,3.0,1.0,169.0,169.0,169.0
35488649,57,30,14,3,1.0,169.0,40,2.0,1.0,3.0,169.0,169.0,169.0
35488650,57,30,15,4,0.0,0.0,40,1.0,2.0,1.0,169.0,169.0,169.0
35488651,57,30,16,5,0.0,0.0,40,0.0,1.0,2.0,0.0,169.0,169.0
35488652,57,30,17,6,0.0,0.0,40,0.0,0.0,1.0,0.0,0.0,169.0
35488653,57,30,18,7,1.0,169.0,40,0.0,0.0,0.0,0.0,0.0,0.0
35488654,57,30,19,8,1.0,169.0,40,1.0,0.0,0.0,169.0,0.0,0.0
35488655,57,30,20,9,0.0,0.0,40,1.0,1.0,0.0,169.0,169.0,0.0
35488656,57,30,21,10,1.0,169.0,40,0.0,1.0,1.0,0.0,169.0,169.0
35488657,57,30,22,11,1.0,169.0,40,1.0,0.0,1.0,169.0,0.0,169.0
35488658,57,30,23,12,0.0,0.0,40,1.0,1.0,0.0,169.0,169.0,0.0
35488659,57,30,24,1,2.0,169.0,40,0.0,1.0,1.0,0.0,169.0,169.0
35488660,57,30,25,2,1.0,169.0,40,2.0,0.0,1.0,169.0,0.0,169.0
35488661,57,30,26,3,0.0,0.0,40,1.0,2.0,0.0,169.0,169.0,0.0
35488662,57,30,27,4,1.0,169.0,40,0.0,1.0,2.0,0.0,169.0,169.0
35488663,57,30,28,5,0.0,0.0,40,1.0,0.0,1.0,169.0,0.0,169.0
35488664,57,30,29,6,1.0,129.0,40,0.0,1.0,0.0,0.0,169.0,0.0
35488665,57,30,30,7,0.0,0.0,40,1.0,0.0,1.0,129.0,0.0,169.0
35488666,57,30,31,8,1.0,129.0,40,0.0,1.0,0.0,0.0,129.0,0.0
35488667,57,30,32,9,0.0,0.0,40,1.0,0.0,1.0,129.0,0.0,129.0
35488668,57,30,33,10,0.0,0.0,40,0.0,1.0,0.0,0.0,129.0,0.0
35488669,57,30,34,11,0.0,0.0,40,0.0,0.0,1.0,0.0,0.0,129.0

## Drop Monthly median price column since it will not be available on test

In [22]:
train.drop(columns='median_monthly_price', inplace=True)

## Remove dateblocknums 0, 1 & 2 as they have nan values

In [23]:
mask = train.date_block_num.isin([0,1,2])

In [24]:
train = train.loc[~mask]

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34516800 entries, 3 to 37752749
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   shop_id                 int8
 1   item_id                 int16
 2   date_block_num          int8
 3   month                   int8
 4   item_cnt_month          float64
 5   item_cat                int8
 6   item_cnt_minus_1        float64
 7   item_cnt_minus_2        float64
 8   item_cnt_minus_3        float64
 9   mnth_med_price_minus_1  float64
 10  mnth_med_price_minus_2  float64
 11  mnth_med_price_minus_3  float64
dtypes: float64(7), int16(1), int8(4)
memory usage: 2.3 GB

In [26]:
train.date_block_num.unique()

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34],
      dtype=int8)

In [27]:
train.to_pickle('./input/train_2.pkl')

In [2]:
train = pd.read_pickle('./input/train_2.pkl')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34516800 entries, 3 to 37752749
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   shop_id                 int8
 1   item_id                 int16
 2   date_block_num          int8
 3   month                   int8
 4   item_cnt_month          float64
 5   item_cat                int8
 6   item_cnt_minus_1        float64
 7   item_cnt_minus_2        float64
 8   item_cnt_minus_3        float64
 9   mnth_med_price_minus_1  float64
 10  mnth_med_price_minus_2  float64
 11  mnth_med_price_minus_3  float64
dtypes: float64(7), int16(1), int8(4)
memory usage: 2.3 GB

In [10]:
train['item_cnt_mean'] = train.loc[:,['item_cnt_minus_1', 'item_cnt_minus_2', 'item_cnt_minus_3']].mean(axis=1)

In [13]:
train['mnth_med_price_mean'] = train.loc[:,['mnth_med_price_minus_1', 'mnth_med_price_minus_2', 'mnth_med_price_minus_3']].mean(axis=1)

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34516800 entries, 3 to 37752749
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   shop_id                 int8
 1   item_id                 int16
 2   date_block_num          int8
 3   month                   int8
 4   item_cnt_month          float64
 5   item_cat                int8
 6   item_cnt_minus_1        float64
 7   item_cnt_minus_2        float64
 8   item_cnt_minus_3        float64
 9   mnth_med_price_minus_1  float64
 10  mnth_med_price_minus_2  float64
 11  mnth_med_price_minus_3  float64
 12  item_cnt_mean           float64
 13  mnth_med_price_mean     float64
dtypes: float64(9), int16(1), int8(4)
memory usage: 2.8 GB

In [15]:
train.loc[(train.shop_id.isin([57]))&(train.item_id==30)]

,shop_id,item_id,date_block_num,month,item_cnt_month,item_cat,item_cnt_minus_1,item_cnt_minus_2,item_cnt_minus_3,mnth_med_price_minus_1,mnth_med_price_minus_2,mnth_med_price_minus_3,item_cnt_mean,mnth_med_price_mean
35488638,57,30,3,4,3.0,40,24.0,31.0,0.0,399.0,265.0,0.0,18.333333,221.333333
35488639,57,30,4,5,1.0,40,3.0,24.0,31.0,399.0,399.0,265.0,19.333333,354.333333
35488640,57,30,5,6,0.0,40,1.0,3.0,24.0,399.0,399.0,399.0,9.333333,399.000000
35488641,57,30,6,7,1.0,40,0.0,1.0,3.0,0.0,399.0,399.0,1.333333,266.000000
35488642,57,30,7,8,1.0,40,1.0,0.0,1.0,399.0,0.0,399.0,0.666667,266.000000
35488643,57,30,8,9,1.0,40,1.0,1.0,0.0,399.0,399.0,0.0,0.666667,266.000000
35488644,57,30,9,10,1.0,40,1.0,1.0,1.0,399.0,399.0,399.0,1.000000,399.000000
35488645,57,30,10,11,1.0,40,1.0,1.0,1.0,169.0,399.0,399.0,1.000000,322.333333
35488646,57,30,11,12,3.0,40,1.0,1.0,1.0,169.0,169.0,399.0,1.000000,245.666667
35488647,57,30,12,1,1.0,40,3.0,1.0,1.0,169.0,169.0,169.0,1.666667,169.000000
35488648,57,30,13,2,2.0,40,1.0,3.0,1.0,169.0,169.0,169.0,1.666667,169.000000
35488649,57,30,14,3,1.0,40,2.0,1.0,3.0,169.0,169.0,169.0,2.000000,169.000000
35488650,57,30,15,4,0.0,40,1.0,2.0,1.0,169.0,169.0,169.0,1.333333,169.000000
35488651,57,30,16,5,0.0,40,0.0,1.0,2.0,0.0,169.0,169.0,1.000000,112.666667
35488652,57,30,17,6,0.0,40,0.0,0.0,1.0,0.0,0.0,169.0,0.333333,56.333333
35488653,57,30,18,7,1.0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
35488654,57,30,19,8,1.0,40,1.0,0.0,0.0,169.0,0.0,0.0,0.333333,56.333333
35488655,57,30,20,9,0.0,40,1.0,1.0,0.0,169.0,169.0,0.0,0.666667,112.666667
35488656,57,30,21,10,1.0,40,0.0,1.0,1.0,0.0,169.0,169.0,0.666667,112.666667
35488657,57,30,22,11,1.0,40,1.0,0.0,1.0,169.0,0.0,169.0,0.666667,112.666667
35488658,57,30,23,12,0.0,40,1.0,1.0,0.0,169.0,169.0,0.0,0.666667,112.666667
35488659,57,30,24,1,2.0,40,0.0,1.0,1.0,0.0,169.0,169.0,0.666667,112.666667
35488660,57,30,25,2,1.0,40,2.0,0.0,1.0,169.0,0.0,169.0,1.000000,112.666667
35488661,57,30,26,3,0.0,40,1.0,2.0,0.0,169.0,169.0,0.0,1.000000,112.666667
35488662,57,30,27,4,1.0,40,0.0,1.0,2.0,0.0,169.0,169.0,1.000000,112.666667
35488663,57,30,28,5,0.0,40,1.0,0.0,1.0,169.0,0.0,169.0,0.666667,112.666667
35488664,57,30,29,6,1.0,40,0.0,1.0,0.0,0.0,169.0,0.0,0.333333,56.333333
35488665,57,30,30,7,0.0,40,1.0,0.0,1.0,129.0,0.0,169.0,0.666667,99.333333
35488666,57,30,31,8,1.0,40,0.0,1.0,0.0,0.0,129.0,0.0,0.333333,43.000000
35488667,57,30,32,9,0.0,40,1.0,0.0,1.0,129.0,0.0,129.0,0.666667,86.000000
35488668,57,30,33,10,0.0,40,0.0,1.0,0.0,0.0,129.0,0.0,0.333333,43.000000
35488669,57,30,34,11,0.0,40,0.0,0.0,1.0,0.0,0.0,129.0,0.333333,43.000000

In [16]:
(399.0+265.0)/3

221.33333333333334

In [17]:
cols_to_drop = ['item_cnt_minus_2', 'item_cnt_minus_3', 'mnth_med_price_minus_2', 'mnth_med_price_minus_3']
train.drop(columns=cols_to_drop, inplace=True)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34516800 entries, 3 to 37752749
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   shop_id                 int8
 1   item_id                 int16
 2   date_block_num          int8
 3   month                   int8
 4   item_cnt_month          float64
 5   item_cat                int8
 6   item_cnt_minus_1        float64
 7   mnth_med_price_minus_1  float64
 8   item_cnt_mean           float64
 9   mnth_med_price_mean     float64
dtypes: float64(5), int16(1), int8(4)
memory usage: 1.7 GB

In [19]:
train.to_pickle('./input/train_2.pkl')

In [20]:
train = pd.read_pickle('./input/train_2.pkl')

In [21]:
train = train.loc[train.date_block_num == 34]

In [22]:
train

,shop_id,item_id,date_block_num,month,item_cnt_month,item_cat,item_cnt_minus_1,mnth_med_price_minus_1,item_cnt_mean,mnth_med_price_mean
34,2,0,34,11,0.0,40,0.0,0.0,0.0,0.0
69,2,1,34,11,0.0,76,0.0,0.0,0.0,0.0
104,2,2,34,11,0.0,40,0.0,0.0,0.0,0.0
139,2,3,34,11,0.0,40,0.0,0.0,0.0,0.0
174,2,4,34,11,0.0,40,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
37752609,59,22165,34,11,0.0,31,0.0,0.0,0.0,0.0
37752644,59,22166,34,11,0.0,54,0.0,0.0,0.0,0.0
37752679,59,22167,34,11,0.0,49,0.0,0.0,0.0,0.0
37752714,59,22168,34,11,0.0,62,0.0,0.0,0.0,0.0
37752749,59,22169,34,11,0.0,69,0.0,0.0,0.0,0.0

In [23]:
test = pd.read_csv('./input/test.csv')

In [35]:
test_items = test.item_id.unique()

In [45]:
train_items = train.item_id.unique()
len(train_items)

21573

In [47]:
x = []
for item in test_items:
    if item not in train_items: x.append(item)

In [48]:
len(x)

383

In [40]:
train = pd.read_pickle('./input/train_2.pkl')

In [41]:
train_item = train.item_id.unique()

In [42]:
y = []
for item in x:
    if item not in train_item: y.append(item)

In [43]:
len(y)

383

In [24]:
sub = pd.read_csv('./input/sample_submission.csv')

In [25]:
sub

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
...        ...             ...
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]

In [26]:
train['item_cnt_month'] = 0.5

In [27]:
train

,shop_id,item_id,date_block_num,month,item_cnt_month,item_cat,item_cnt_minus_1,mnth_med_price_minus_1,item_cnt_mean,mnth_med_price_mean
34,2,0,34,11,0.5,40,0.0,0.0,0.0,0.0
69,2,1,34,11,0.5,76,0.0,0.0,0.0,0.0
104,2,2,34,11,0.5,40,0.0,0.0,0.0,0.0
139,2,3,34,11,0.5,40,0.0,0.0,0.0,0.0
174,2,4,34,11,0.5,40,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
37752609,59,22165,34,11,0.5,31,0.0,0.0,0.0,0.0
37752644,59,22166,34,11,0.5,54,0.0,0.0,0.0,0.0
37752679,59,22167,34,11,0.5,49,0.0,0.0,0.0,0.0
37752714,59,22168,34,11,0.5,62,0.0,0.0,0.0,0.0
37752749,59,22169,34,11,0.5,69,0.0,0.0,0.0,0.0

In [29]:
test1 = test.merge(train, 'inner', on=['shop_id', 'item_id'])

In [31]:
test1

,ID,shop_id,item_id,date_block_num,month,item_cnt_month,item_cat,item_cnt_minus_1,mnth_med_price_minus_1,item_cnt_mean,mnth_med_price_mean
0,0,5,5037,34,11,0.5,19,0.0,0.0,1.333333,499.666667
1,2,5,5233,34,11,0.5,19,1.0,1199.0,1.666667,999.000000
2,3,5,5232,34,11,0.5,23,0.0,0.0,0.333333,199.666667
3,5,5,5039,34,11,0.5,23,1.0,1499.0,0.666667,749.500000
4,6,5,5041,34,11,0.5,20,2.0,3999.0,1.666667,2666.000000
...,...,...,...,...,...,...,...,...,...,...,...
198109,214195,45,18454,34,11,0.5,55,1.0,99.0,0.333333,33.000000
198110,214196,45,16188,34,11,0.5,64,0.0,0.0,0.000000,0.000000
198111,214197,45,15757,34,11,0.5,55,0.0,0.0,0.000000,0.000000
198112,214198,45,19648,34,11,0.5,40,0.0,0.0,0.000000,0.000000
198113,214199,45,969,34,11,0.5,37,0.0,0.0,0.000000,0.000000

In [32]:
5320 in train.item_id

False